<!-- This was an idea I had but abandoned. Didn't want to get rid of it -->
<!-- It's a stick figure with body parts separated -->
<!-- When a user hovers over a bodypart, it turns red -->

<div id="hitmap" class="mr-auto p-2">

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
        viewBox="0 0 1000 1000">
        <!-- some SVG content -->

        <svg x="250" y="-300" viewBox="0 0 111 93" width="20%">
            <path id="hit-head" fill="black" stroke="black" stroke-width="1" d="M 55.19,0.00
                           C 31.95,0.00 13.11,18.84 13.11,42.09
                             13.11,65.33 31.95,84.17 55.19,84.17
                             78.44,84.17 97.28,65.33 97.28,42.09
                             97.28,18.84 78.44,0.00 55.19,0.00 Z" />
        </svg>


        <svg x="250" y="-50" width="20%" viewBox="0 0 111 220">
            <path id="hit-body" fill="black" stroke="black" stroke-width="1" d="M 0.00,32.00
                                C 0.00,30.20 -0.14,26.93 0.57,25.33
                                  2.10,21.88 10.51,18.46 14.00,17.01
                                  24.29,12.75 44.88,8.76 56.00,9.01
                                  66.64,9.26 87.18,12.64 97.00,16.60
                                  106.82,20.57 110.98,21.05 111.00,32.00
                                  111.00,32.00 111.00,71.00 111.00,71.00
                                  111.00,76.10 111.76,85.57 110.00,90.00
                                  110.00,90.00 106.00,81.00 106.00,81.00
                                  106.00,81.00 106.00,133.00 106.00,133.00
                                  106.00,133.00 107.00,149.00 107.00,149.00
                                  107.00,149.00 107.00,168.00 107.00,168.00
                                  107.00,168.00 108.00,184.00 108.00,184.00
                                  108.00,184.00 108.00,220.00 108.00,220.00
                                  108.00,220.00 4.00,220.00 4.00,220.00
                                  4.00,220.00 4.00,129.00 4.00,129.00
                                  4.00,129.00 4.00,102.00 4.00,102.00
                                  4.00,102.00 3.00,85.00 3.00,85.00
                                  3.00,85.00 0.00,92.00 0.00,92.00
                                  0.00,92.00 0.00,32.00 0.00,32.00 Z" />
        </svg>

        <svg x="-140" y="-35" width="40%" viewBox="0 0 194 220">
            <path id="hit-leftArm" fill="black" stroke="black" stroke-width="1" d="M 354.61,162.55
                           C 351.83,189.24 309.73,189.51 312.55,162.55
                             315.03,138.58 313.73,101.59 299.40,77.34
                             299.05,107.64 300.21,137.99 300.27,168.31
                             300.71,170.21 301.00,172.18 301.00,174.35
                             301.00,244.18 301.10,313.99 303.99,383.78
                             305.28,414.80 257.18,414.68 255.90,383.78
                             253.66,329.10 253.10,274.38 252.96,219.65
                             250.69,219.78 248.41,219.78 246.13,219.63
                             246.00,274.36 245.43,329.08 243.17,383.78
                             241.90,414.68 193.80,414.80 195.08,383.78
                             197.96,313.99 198.09,244.18 198.09,174.35
                             198.09,173.86 198.20,173.46 198.23,172.98
                             198.18,171.98 198.08,171.01 198.08,169.98
                             198.08,140.64 198.08,111.30 198.08,81.96
                             186.11,106.10 185.12,140.07 187.45,162.57
                             190.26,189.55 148.17,189.27 145.39,162.57
                             138.98,100.82 161.70,19.83 231.66,11.63
                             241.96,9.20 253.37,9.11 263.85,11.24
                             337.36,16.43 361.17,99.52 354.61,162.55 Z" />
        </svg>

        <svg x="440" y="-35" width="40%" viewBox="0 0 194 220">
            <path id="hit-rightArm" fill="black" stroke="black" stroke-width="1" d="M 49.61,162.55
                           C 46.83,189.24 4.73,189.51 7.55,162.55
                             10.03,138.58 8.73,101.59 -5.60,77.34
                             -5.95,107.64 -4.79,137.99 -4.73,168.31
                             -4.29,170.21 -4.00,172.18 -4.00,174.35
                             -4.00,244.18 -3.90,313.99 -1.01,383.78
                             0.28,414.80 -47.82,414.68 -49.10,383.78
                             -51.34,329.10 -51.90,274.38 -52.04,219.65
                             -54.31,219.78 -56.59,219.78 -58.87,219.63
                             -59.00,274.36 -59.57,329.08 -61.83,383.78
                             -63.10,414.68 -111.20,414.80 -109.92,383.78
                             -107.04,313.99 -106.91,244.18 -106.91,174.35
                             -106.91,173.86 -106.80,173.46 -106.77,172.98
                             -106.82,171.98 -106.92,171.01 -106.92,169.98
                             -106.92,140.64 -106.92,111.30 -106.92,81.96
                             -118.89,106.10 -119.88,140.07 -117.55,162.57
                             -114.74,189.55 -156.83,189.27 -159.61,162.57
                             -166.02,100.82 -143.30,19.83 -73.34,11.63
                             -63.04,9.20 -51.63,9.11 -41.15,11.24
                             32.36,16.43 56.17,99.52 49.61,162.55 Z" />
        </svg>

        <svg x="250" y="300" width="20%" viewBox="0 0 111 187">
            <path id="hit-leftLeg" fill="black" stroke="black" stroke-width="1" d="M 53.00,0.00
C 53.00,0.00 53.00,17.00 53.00,17.00
 53.00,17.00 52.00,33.00 52.00,33.00
 52.00,33.00 52.00,94.00 52.00,94.00
 52.00,94.00 51.00,111.00 51.00,111.00
 51.00,111.00 51.00,132.00 51.00,132.00
 51.00,132.00 50.00,147.00 50.00,147.00
 49.96,156.40 51.19,168.92 45.75,176.99
 37.20,189.69 12.88,191.40 4.13,177.98
 -0.62,170.70 0.99,154.86 1.00,146.00
 1.00,146.00 2.00,129.00 2.00,129.00
 2.00,129.00 2.00,107.00 2.00,107.00
 2.00,107.00 3.00,91.00 3.00,91.00
 3.00,91.00 3.00,16.00 3.00,16.00
 3.00,16.00 4.00,0.00 4.00,0.00
 4.00,0.00 53.00,0.00 53.00,0.00 Z" />
        </svg>

        <svg x="250" y="300" width="20%" viewBox="0 0 111 187">
            <path id="hit-rightLeg" fill="black" stroke="black" stroke-width="1" d="M 108.00,0.00
C 108.00,0.00 108.00,90.00 108.00,90.00
 108.00,90.00 109.00,104.00 109.00,104.00
 109.00,104.00 109.00,128.00 109.00,128.00
 109.00,128.00 110.00,145.00 110.00,145.00
 110.02,160.14 114.16,181.31 95.00,186.39
 92.09,187.16 88.06,187.03 85.00,187.00
 81.96,186.96 79.93,186.91 77.00,185.89
 59.12,179.70 61.02,161.17 61.00,146.00
 61.00,146.00 60.00,129.00 60.00,129.00
 60.00,129.00 60.00,107.00 60.00,107.00
 60.00,107.00 59.00,91.00 59.00,91.00
 59.00,91.00 59.00,15.00 59.00,15.00
 59.00,15.00 58.00,0.00 58.00,0.00
 58.00,0.00 108.00,0.00 108.00,0.00 Z" />
        </svg>



    </svg>
</div>

<script>
    $(document).ready(() => {
        $("#hitmap path").on('mouseover', function (e) {
            $(e.target).attr('style', "fill:#f00")
        })

        $("#hitmap path").on('mouseout', function (e) {
            $(e.target).attr('style', "fill:#000000")
        })
    })
</script>