<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
    <script src="/static/js/overview.js"></script>
</head>

<body>

    <% include ./partials/header %>

    <div class="container ">
        <table class="table" id="overview">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Kill/death ratio</th>
                    <th>Headshot %</th>
                    <th>Kills</th>
                    <th>Deaths</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</body>

</html>